header{
    background-color: black;
    font-size: x-large;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 700;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    margin-bottom: 20px;
}
button{
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #00986c;
    border-color: #00986c;
}
div>div{
    border-radius: .5cm;
    background-color: #9ce0db;
    border-style: solid;
    border-color: #005954;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.wrapper {
display: grid;
grid-template-columns: auto;
grid-gap: 10px;
background-color: #338b85;
border-radius: 0.5cm;
padding: 50px;
border-style: solid;
border-color: #005954;
}
.header {
grid-column-start: 1;
grid-column-end: 4;
grid-row: 1;
}
.cuadro_uno {
grid-column: 2;
grid-row:2/4;
}
.menu {
grid-column: 1;
grid-row: 2/6;
display: grid;
}
.cuadro_dos {
grid-column: 3;
grid-row: 2/4;
}
.cuadro_tres {
grid-column: 2;
grid-row: 4/6;
}
.cuadro_cuatro {
grid-column: 3;
grid-row: 4/6;
}
.chart{
    width: 500px;
}
#myChart{
padding: 20px;
}